.row.section
  .col.s4.offset-s4
    .card
      .card-content
        = form_for @user, url: login_path do |f|
          .row
            .input-field.col.s10.offset-s1
              = f.text_field :email
              = f.label :email
          .row
            .input-field.col.s10.offset-s1
              = f.password_field :password
              = f.label :password

          .row
            .col.s5.offset-s1
              = link_to 'Forgot Password?', '#'
            .col.s5.right-align
              = button_tag 'Login', class: 'btn btn-large waves-effect waves-light'

          .row.center-align
            = link_to 'Don\'t have an account? Sign up', signup_path
