.row.section
  .col.s4.offset-s4
    .card
      .card-content
        = form_for @user, url: signup_path do |f|
          .row
            .input-field.col.s10.offset-s1
              = f.text_field :email
              = f.label :email
          .row
            .input-field.col.s10.offset-s1
              = f.password_field :password
              = f.label :password

          .row
            .input-field.col.s10.offset-s1
              = f.password_field :password_confirmation
              = f.label :password_confirmation
          .row
            .col.s10.offset-s1.right-align
              = button_tag 'Signup', class: 'btn btn-large waves-effect waves-light'

          .row.center-align
            = link_to 'Already have an account? Log In', login_path
