.is-centered
  = form_for @expense do |f|
    %div.form__group--inline
      .group__field= f.text_field :description, placeholder: 'Description'
      .group__field= f.text_field :amount, placeholder: 'Amount'
      %div
        = f.submit

    %div
      = link_to 'Options', '#options', data: { toggle_expenses_options: true }
    %div.is-hidden{ data: { expenses_options: true } }
      = f.label :applies_monthly?
      = f.check_box :applies_monthly?
