= form_tag expenses_path do
  %div
    = label_tag 'expense[description]', 'description'
    = text_field_tag 'expense[description]', expense ? expense.description : nil
  %div
    = label_tag 'expense[amount]', 'amount'
    = text_field_tag 'expense[amount]', expense ? expense.amount : nil

  %div
    = submit_tag 'Add'
    = link_to 'cancel', '#', data: { toggle_add_expense: true }
