= form_for @expense do |f|
  .row.valign-wrapper
    .input-field.col.s2.offset-s3= f.text_field :description, placeholder: 'Description'
    .input-field.col.s2= f.text_field :amount, placeholder: 'Amount'
    .input-field.col.s2= f.text_field :tag, placeholder: 'Tag'
    .valign.col.s1= f.button 'Add', class: 'btn waves-effect waves-light'

  -# %div
  -#   = link_to 'Options', '#options', data: { toggle_expenses_options: true }
  -# %div.is-hidden{ data: { expenses_options: true } }
  -#   = f.label :applies_monthly?
  -#   = f.check_box :applies_monthly?
