= render 'application/components/flash_box'

.container
  .section
    .row
      %h5.center-align.blue-grey-text.text-lighten-1
        = link_to '<', previous_month_path(@date)
        = l(@date, format: :short)
        = link_to '>', next_month_path(@date)

  .section
    = render 'form', expense: @expense

  .section.row
    %table.bordered.col.s6.offset-s3
      - @expenses.each do |expense|
        %tr
          %td.center-align= expense.description
          %td.center-align= expense.amount
          %td.center-align
            - expense.tag.split(',').each do |tag|
              %div.chip.teal.white-text= tag
          %td.right-align
            = link_to expense, method: :delete do
              %i.mdi-content-clear

      %tr
        %td.center-align= 'Total'
        %td.center-align= @expenses.total
        %td
