= render 'application/components/flash_box'

%div.is-centered
  %span= link_to '<', previous_month_path(@date)
  = l(@date, format: :short)
  %span= link_to '>', next_month_path(@date)

= render 'form', expense: @expense

%div
  %table.table
    - @expenses.each do |expense|
      %tr
        %td
        %td= expense.description
        %td= expense.amount
        %td
          = link_to 'Delete', expense, method: :delete

    %tr
      %td
      %td
        %strong= 'Total'
      %td
        %strong= @expenses.total
      %td
